.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  background-color: white;
  color: red;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}

.ToggleButton {
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}

.ToggleButton:hover {
  background-color: lightgreen;
  color: black;
}

.ToggleButton.Red {
  background-color: red;  
}

.ToggleButton.Red:hover {
  background-color: salmon;  
}